body {
  font-family: "Crete round";
  color: #d12d36;
  font-size: 3rem;
  background-color: #D2B48C;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

/******FLIP******/
.flip-card {
  text-align: center;
  padding-top: 20px;
  background-color: transparent;
  width: 328px;
  height: 443px;
  margin: auto;
  perspective: 1000px;
  border-radius: 8px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 8px;
  background-color: #f5f5dc;
  background-size: 66px 66px;
}
.flip-card-inner #pikaText {
  height: 0;
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  align-items: left;
}
.flip-card:hover .flip-card-inner #pikaText {
  visibility: visible;
  position: fixed;
  top: 10%;
  width: 100%;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
}

.flip-card-front {
  background-color: #f5f5dc;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

/******CARD LETTER AND SUIT******/
.a-bottom {
  transform: rotate(180deg);
}

.heart {
  background-color: #d12d36;
  display: inline-block;
  height: 20px;
  margin: 0 10px;
  transform: rotate(-45deg);
  width: 20px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #ff6d63;
  height: 20px;
  position: absolute;
  width: 20px;
}

.heart:before {
  top: -15px;
  left: 0;
  background-color: #e84338;
}

.heart:after {
  left: 15px;
  top: 0;
}

.heart.top {
  position: relative;
  top: -20px;
}

.heart.bottom {
  transform: rotate(135deg);
}

.naipe-top {
  position: relative;
  left: 25px;
  top: 7px;
}

.naipe-bottom {
  position: relative;
  top: 315px;
  left: 227px;
}

/******CARD PIC******/
.diamond1 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 100px;
  top: 250px;
  background: linear-gradient(to right top, #ff6d63 50%, #ff6d63 50%);
}

.diamond1:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to right bottom, #ff6d63 50%, #ff6d63 50%);
}

.diamond2 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 100px;
  top: 290px;
  background: linear-gradient(to left top, #ff6d63 50%, #ff6d63 50%);
}

.diamond2:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom, #ff6d63 50%, transparent 50%);
}

.diamond3 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 100px;
  top: 250px;
  background: linear-gradient(to left bottom, #e84338 50%, transparent 50%);
}

.diamond3:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 0px;
  background: linear-gradient(to right bottom, #e84338 50%, #e84338 50%);
}

.diamond4 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 100px;
  top: 210px;
  background: linear-gradient(to left top, #e84338 50%, transparent 50%);
}

.diamond4:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 0px;
  background: linear-gradient(to right top, #e84338 50%, transparent 50%);
}

.diamond5 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 140px;
  top: 290px;
  background: linear-gradient(to right top, #ff6d63 50%, #ff6d63 50%);
}

.diamond5:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to right bottom, #ff6d63 50%, #ff6d63 50%);
}

.diamond6 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 140px;
  top: 250px;
  background: linear-gradient(to left top, #ff6d63 50%, transparent 50%);
}

.diamond6:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom, #ff6d63 50%, transparent 50%);
}

.diamond7 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 180px;
  top: 250px;
  background: linear-gradient(to right top, #ff6d63 50%, #ff6d63 50%);
}

.diamond7:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to right bottom, #ff6d63 50%, #ff6d63 50%);
}

.diamond8 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 100px;
  top: 290px;
  background: linear-gradient(to left top, #ff6d63 50%, #ff6d63 50%);
}

.diamond8:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom, #ff6d63 50%, transparent 50%);
}

.diamond9 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 180px;
  top: 210px;
  background: linear-gradient(to left top, #ff6d63 50%, transparent 50%);
}

.diamond9:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom, #ff6d63 50%, transparent 50%);
}

.diamond10 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 220px;
  top: 210px;
  background: linear-gradient(to right top, #d12d36 50%, transparent 50%);
}

.diamond10:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to right bottom, #d12d36 50%, transparent 50%);
}

.diamond11 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 220px;
  top: 250px;
  background: linear-gradient(to left top, #d12d36 50%, #d12d36 50%);
}

.diamond11:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom, #d12d36 50%, #d12d36 50%);
}

.diamond12 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 180px;
  top: 290px;
  background: linear-gradient(to left top, #b82a32 50%, transparent 50%);
}

.diamond12:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom, #b82a32 50%, transparent 50%);
}

.diamond13 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 220px;
  top: 290px;
  background: linear-gradient(to right top, #b82a32 50%, transparent 50%);
}

.diamond13:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to right bottom, #b82a32 50%, transparent 50%);
}

.diamond14 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 180px;
  top: 290px;
  background: linear-gradient(to left top, #b82a32 50%, transparent 50%);
}

.diamond14:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom, #b82a32 50%, transparent 50%);
}

.diamond15 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 180px;
  top: 330px;
  background: linear-gradient(to right top, #b82a32 50%, #b82a32 50%);
}

.diamond15:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to right bottom, #b82a32 50%, transparent 50%);
}

.diamond16 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 140px;
  top: 330px;
  background: linear-gradient(to left top, #b82a32 50%, transparent 50%);
}

.diamond16:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom, #b82a32 50%, transparent 50%);
}

#big-heart {
  position: relative;
  top: -40px;
  left: -68px;
  place-items: center;
}
#big-heart div, #big-heart ul, #big-heart span {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#big-heart .brown {
  background-color: #452211;
}
#big-heart .yellow {
  background-color: #ffd814;
}
#big-heart .yellow-dark {
  background-color: #e0a100;
}
#big-heart .wrapper {
  height: 450px;
  width: 300px;
}
#big-heart .pikachu {
  top: auto;
  height: 65%;
  width: 140px;
}
#big-heart .pikachu::before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.15);
  height: 10px;
  width: 90%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 95px;
  border-radius: 50%;
}
#big-heart .pikachu .head {
  bottom: auto;
  height: 120px;
  width: 120px;
  z-index: 3;
}
#big-heart .pikachu .head .face {
  width: 120px;
  height: 70px;
  top: auto;
  border-radius: 40px 40px 30px 30px;
  z-index: 2;
}
#big-heart .pikachu .head .face .eye {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  bottom: auto;
  top: 28px;
  -webkit-animation: blink 4s infinite;
}
#big-heart .pikachu .head .face .eye.left {
  right: auto;
  left: 32px;
}
#big-heart .pikachu .head .face .eye.right {
  left: auto;
  right: 32px;
}
#big-heart .pikachu .head .face .mouth {
  text-align: center;
  height: 10px;
}
#big-heart .pikachu .head .face .cachete {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: auto;
  top: 38px;
  background-color: #e64900;
  z-index: 9;
}
#big-heart .pikachu .head .face .cachete.left {
  right: auto;
  left: 10px;
}
#big-heart .pikachu .head .face .cachete.right {
  left: auto;
  right: 10px;
}
#big-heart .pikachu .head .ears {
  width: 20px;
  height: 90px;
  bottom: auto;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
#big-heart .pikachu .head .ears.left {
  right: auto;
  left: 10px;
}
#big-heart .pikachu .head .ears.right {
  left: auto;
  right: 10px;
}
#big-heart .pikachu .head .ears .ears-inside {
  top: auto;
  height: 70px;
  width: 30px;
  border-radius: 50%;
}
#big-heart .pikachu .head .ears .ears-inside.right {
  position: absolute;
  left: -50%;
}
#big-heart .pikachu .body {
  bottom: auto;
  top: 80px;
  height: 105px;
  width: 130px;
  border-radius: 80px 80px 40px 40px;
  overflow: hidden;
  z-index: 2;
}
#big-heart .pikachu .body .paw {
  bottom: auto;
  top: 50px;
  height: 15px;
  width: 30px;
  z-index: 9;
  border-bottom: 1px solid #e0a100;
  border-top: 1px solid #FFFFFF;
}
#big-heart .pikachu .body .paw.left {
  right: auto;
  left: 15px;
  border-radius: 0 50% 50% 0;
}
#big-heart .pikachu .body .paw.right {
  left: auto;
  right: 15px;
  border-radius: 50% 0 0 50%;
}
#big-heart .pikachu .body .pika-heart {
  width: 40px;
  height: 40px;
  bottom: auto;
  top: 10px;
  z-index: 8;
  animation: beat 0.45s infinite;
  -webkit-animation: beat 0.45s infinite;
}
#big-heart .pikachu .body .pika-heart::before, #big-heart .pikachu .body .pika-heart::after {
  position: absolute;
  content: "";
  left: 20px;
  top: 30px;
  width: 50%;
  height: 100%;
  background: #e64900;
  -moz-border-radius: 20px 20px 0 0;
  border-radius: 10px 10px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
#big-heart .pikachu .body .pika-heart::after {
  left: 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
#big-heart .pikachu .leg {
  z-index: 1;
  bottom: auto;
  top: 172px;
  height: 20px;
  width: 30px;
}
#big-heart .pikachu .leg.left {
  right: auto;
  left: 20px;
  border-radius: 80px 10px 80px 10px;
}
#big-heart .pikachu .leg.right {
  left: auto;
  right: 20px;
  border-radius: 10px 80px 10px 80px;
}
#big-heart .pikachu .tail {
  z-index: 1;
  height: 40px;
  width: 50px;
  left: auto;
  bottom: auto;
  top: 70px;
  border-radius: 10% 30%;
}

/*# sourceMappingURL=yes1.css.map */
