$color-card:#f5f5dc;
$color-body:#D2B48C;
$color-back:#2980b9;
$color-suit:#d12d36;
$color-suit2:#ff6d63;
$color-suit3:#e84338;
$color-suit4:#b82a32;


body {
    font-family: 'Crete round';
    color:  $color-suit;
    font-size: 3rem;
    background-color:$color-body;
  }

p {
    margin:0 !important;
    padding:0 !important;
}

/******FLIP******/
  .flip-card {
    text-align:center;
    padding-top:20px;
    background-color: transparent;
    width: 328px;
    height: 443px;
    margin:auto;
    perspective: 1000px;
    border-radius:8px;
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    //box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius:8px;
    //background-image: linear-gradient(45deg, $color-suit 50%, $color-card 50%);
    //background-color: white;
    background-color: $color-card;
    background-size: 66px 66px;
    #pikaText{height:0;transform:rotateY(180deg)}
  }

  .flip-card:hover  {
    .flip-card-inner{
      transform: rotateY(180deg);
      align-items: left;
    #pikaText{
      visibility:visible;
      position:fixed;
      top:10%;
      //left: 250px;
      width: 100%
        
      }}
  }

  
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    display:flex;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius:8px;
  }
  
  .flip-card-front {
    background-color: $color-card;
  }
  
  .flip-card-back {
    background-color: $color-back;
    color: white;
    transform: rotateY(180deg);
  }

/******CARD LETTER AND SUIT******/
  .a-bottom{
    transform: rotate(180deg);
  }

  .heart {
    background-color: $color-suit;
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    transform: rotate(-45deg);
    width: 20px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: $color-suit2;
    height: 20px;
    position: absolute;
    width: 20px;
  }
  
  .heart:before {
    top: -15px;
    left: 0;
    background-color: $color-suit3;
  }
  
  .heart:after {
    left: 15px;
    top: 0;
  }
.heart.top {
  position:relative;
  top:-20px;
}
  .heart.bottom{
    transform:rotate(135deg);
  }

  .naipe-top {
  position:relative;
  left:25px;
  top:7px;  
}
  .naipe-bottom {
  position:relative;
  top: 315px;
  left: 227px;
}

/******CARD PIC******/
// #big-heart {
//   position:relative;
//   top:-77px;
//   left:-96px;
//   place-items: center;
  
// }
.diamond1{
  width: 40px;
  height: 40px;
  position:absolute;
  left: 100px;
  top: 250px;
  background: linear-gradient(to right top,$color-suit2 50%, $color-suit2 50%);
  
}

.diamond1:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to right bottom,$color-suit2 50%, $color-suit2 50%);
}

.diamond2{
  width: 40px;
  height: 40px;
  position:absolute;
  left: 100px;
  top: 290px;
  background: linear-gradient(to left top,$color-suit2 50%, $color-suit2 50%);
}
.diamond2:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom,$color-suit2 50%, transparent 50%);
}

.diamond3{
  width: 40px;
  height: 40px;
  position:absolute;
  left: 100px;
  top: 250px;
  background: linear-gradient(to left bottom,$color-suit3 50%, transparent 50%);
}
.diamond3:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 40px;
  top: 0px;
  background: linear-gradient(to right bottom,$color-suit3 50%, $color-suit3 50%); 
}

.diamond4{
  width: 40px;
  height: 40px;
  position:absolute;
  left: 100px;
  top: 210px;
  background: linear-gradient(to left top,$color-suit3 50%, transparent 50%);
}
.diamond4:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 40px;
  top: 0px;
  background: linear-gradient(to right top,$color-suit3 50%, transparent 50%); 
}

.diamond5{
  width: 40px;
  height: 40px;
  position:absolute;
  left: 140px;
  top: 290px;
  background: linear-gradient(to right top,$color-suit2 50%, $color-suit2 50%);
}
.diamond5:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to right bottom,$color-suit2 50%, $color-suit2 50%);
}

.diamond6{
  width: 40px;
  height: 40px;
  position:absolute;
  left: 140px;
  top: 250px;
  background: linear-gradient(to left top,$color-suit2 50%, transparent 50%);
}
.diamond6:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom,$color-suit2 50%, transparent 50%);
}

.diamond7{
  width: 40px;
  height: 40px;
  position:absolute;
  left: 180px;
  top: 250px;
  background: linear-gradient(to right top,$color-suit2 50%, $color-suit2 50%);
}
.diamond7:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to right bottom,$color-suit2 50%, $color-suit2 50%);
}

.diamond8{
  width: 40px;
  height: 40px;
  position:absolute;
  left: 100px;
  top: 290px;
  background: linear-gradient(to left top,$color-suit2 50%, $color-suit2 50%);
}
.diamond8:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom,$color-suit2 50%, transparent 50%);
}

.diamond9{
  width: 40px;
  height: 40px;
  position:absolute;
  left: 180px;
  top: 210px;
  background: linear-gradient(to left top,$color-suit2 50%, transparent 50%);
}
.diamond9:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom,$color-suit2 50%, transparent 50%);
}

.diamond10{
  width: 40px;
  height: 40px;
  position:absolute;
  left: 220px;
  top: 210px;
  background: linear-gradient(to right top,$color-suit 50%, transparent 50%);
}
.diamond10:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to right bottom,$color-suit 50%, transparent 50%);
}


.diamond11{ 
  width: 40px;
  height: 40px;
  position:absolute;
  left: 220px;
  top: 250px;
  background: linear-gradient(to left top,$color-suit 50%, $color-suit 50%);
}
.diamond11:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom,$color-suit 50%, $color-suit 50%);
}

.diamond12{
  width: 40px;
  height: 40px;
  position:absolute;
  left: 180px;
  top: 290px;
  background: linear-gradient(to left top,$color-suit4 50%, transparent 50%);
}
.diamond12:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom,$color-suit4 50%, transparent 50%);
}

.diamond13{ 
  width: 40px;
  height: 40px;
  position:absolute;
  left: 220px;
  top: 290px;
  background: linear-gradient(to right top,$color-suit4 50%, transparent 50%);
}
.diamond13:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to right bottom,$color-suit4 50%, transparent 50%);
}

.diamond14{
  width: 40px;
  height: 40px;
  position:absolute;
  left: 180px;
  top: 290px;
  background: linear-gradient(to left top,$color-suit4 50%, transparent 50%);
}
.diamond14:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom,$color-suit4 50%, transparent 50%);
}


.diamond15{ 
  width: 40px;
  height: 40px;
  position:absolute;
  left: 180px;
  top: 330px;
  background: linear-gradient(to right top,$color-suit4 50%, $color-suit4 50%);
}
.diamond15:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to right bottom,$color-suit4 50%, transparent 50%);
}

.diamond16{
  width: 40px;
  height: 40px;
  position:absolute;
  left: 140px;
  top: 330px;
  background: linear-gradient(to left top,$color-suit4 50%, transparent 50%);
}
.diamond16:after{
  content:"";
  width: 40px;
  height: 40px;
  position:absolute;
  left: 0px;
  top: 40px;
  background: linear-gradient(to left bottom,$color-suit4 50%, transparent 50%);
}

//pikachu
#big-heart {
  position:relative;
  top:-40px;
  left:-68px;
  place-items: center;
  

div, ul, span {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.brown { background-color: #452211; }
.yellow { background-color: #ffd814; }
.yellow-dark { background-color: #e0a100; }

.wrapper {
  height: 450px;
  width: 300px;
}

// h2 {
//   text-transform: uppercase;
//   text-align: center; 
//   font-size: 2em;
//   color: #452211;
// }

.pikachu {
  top: auto; 
  height: 65%;
  width: 140px;

  &::before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.15);
    height: 10px;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 95px;
    border-radius: 50%;
  }

  .head {
    bottom: auto; 
    height: 120px;
    width: 120px;
    z-index: 3;

    .face {
      width: 120px;
      height: 70px;
      top: auto;
      border-radius: 40px 40px 30px 30px; 
      z-index: 2;

      .eye {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        bottom: auto;
        top: 28px;
        -webkit-animation: blink 4s infinite;

        &.left {
          right: auto;
          left: 32px;
        }

        &.right {
          left: auto;
          right: 32px;
        }
      }

      .mouth {
        text-align: center;
        height: 10px;
      }

      .cachete {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        bottom: auto;
        top: 38px;
        background-color: #e64900;
        z-index: 9;

        &.left {
          right: auto;
          left: 10px;
        }

        &.right {
          left: auto;
          right: 10px;
        }
      }
    }

    .ears {
      width: 20px;
      height: 90px;
      bottom: auto;
      border-radius: 50%;
      overflow: hidden;
      z-index: 1;

      &.left {
        right: auto; 
        left: 10px;
      }

      &.right {
        left: auto; 
        right: 10px;
      }

      .ears-inside {
        top: auto; 
        height: 70px;
        width: 30px;
        border-radius: 50%;

        &.right {
          position: absolute; 
          left: -50%;
        }
      }
    }
  }

  .body {
    bottom: auto;
    top: 80px;
    height: 105px;
    width: 130px;
    border-radius: 80px 80px 40px 40px;
    overflow: hidden;
    z-index: 2;

    .paw {
      bottom: auto; 
      top: 50px; 
      height: 15px; 
      width: 30px; 
      z-index: 9; 
      border-bottom: 1px solid #e0a100; 
      border-top: 1px solid #FFFFFF;

      &.left {
        right: auto;
        left: 15px;
        border-radius: 0 50% 50% 0;  
      }

      &.right {
        left: auto;
        right: 15px;
        border-radius: 50% 0 0 50%;  
      }
    }

    .pika-heart {
      width: 40px;
      height: 40px;
      bottom: auto;
      top: 10px; 
      z-index: 8;
      animation: beat 0.45s infinite;
      -webkit-animation: beat 0.45s infinite;

      &::before,
      &::after {
        position: absolute;
        content: "";
        left: 20px;
        top: 30px;
        width: 50%;
        height: 100%;
        background: #e64900;
        -moz-border-radius: 20px 20px 0 0;
        border-radius: 10px 10px 0 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        transform-origin: 0 100%;
      }

      &::after {
        left: 0px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 100% 100%;
        -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        -o-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
      }
    }
  }

  .leg {
    z-index: 1; 
    bottom: auto;
    top: 172px;
    height: 20px;
    width: 30px;

    &.left {
      right: auto; 
      left: 20px;
      border-radius: 80px 10px 80px 10px;
    }

    &.right {
      left: auto; 
      right: 20px;
      border-radius: 10px 80px 10px 80px;
    }
  }

  .tail {
    z-index: 1;
    height: 40px; 
    width: 50px; 
    left: auto;
    bottom: auto; 
    top: 70px;
    border-radius: 10% 30%;
  }
}
  }

// @-webkit-keyframes blink {
//   0 { height: 14px; top: 28px; }
//   5% { height: 2px; top: 34px; }
//   10% { height: 14px; top: 28px; }
//   40% { height: 14px; top: 28px; }
//   50% { height: 2px; top: 34px; }
//   55% { height: 14px; top: 28px; }
//   100% { height: 14px; top: 28px; }
// }








