$bg-color: #FBD4C5;
$text-color: #355c7d;
$gradient-bg: linear-gradient(to right, #f8b195, #f67280, #c06c84);
$border-color: orange;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #FFEBEE !important;
}
$color-card:#f5f5dc;
$color-body:#D2B48C;
$color-back:#2980b9;
$color-suit:#d12d36;
$color-suit2:#ff6d63;
$color-suit3:#e84338;
$color-suit4:#b82a32;


// body {
//     font-family: 'Crete round';
//     color:  $color-suit;
//     font-size: 3rem;
//     background-color:$color-body;
//   }

// p {
//     margin:0 !important;
//     padding:0 !important;
// }

//Card
/******FLIP******/
#flip-card-message.visible {
  visibility: visible;
  animation: fadeInCard 2.2s forwards, gradientMove 5s ease-in-out 2.2s infinite;;  
}
  .flip-card {
    text-align:center;
    // padding-top:20px;
    visibility: hidden;
    background-color: transparent;
    width: 328px;
    height: 443px;
    margin:auto;
    perspective: 1000px;
    border-radius:8px;
    font-family: 'Crete round';
    color:  $color-suit;
    font-size: 3rem;
    position: fixed;
    top:35%;
    
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius:8px;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    background-size: 66px 66px;
    // #pikaText{height:0;transform:rotateY(180deg)}
    #pikaText{visibility: hidden; transform:rotateY(180deg)}
  }
  
  .flip-card:hover  {
    .flip-card-inner{
      transform: rotateY(180deg);
      align-items: left;
    #pikaText{
      visibility:visible;
      // position:fixed;
      // top:10%;
      //left: 250px;
      width: 100%;
      height:100%
        
      }}
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    display:flex;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius:8px;
  }
  
  .flip-card-front {
    top: 0%;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

    box-shadow: 5px 5px 15px #bbb; /* Shadow */
  }
  
  .flip-card-back {
    background-color: $color-back;
    color: #FFECB3;
    transform: rotateY(180deg);
  }
  
  /******CARD LETTER AND SUIT******/
  .a-bottom{
    transform: rotate(180deg);
  }
  
  .heart {
    background-color: $color-suit;
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    transform: rotate(-45deg);
    width: 20px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: $color-suit2;
    height: 20px;
    position: absolute;
    width: 20px;
  }
  
  .heart:before {
    top: -15px;
    left: 0;
    background-color: $color-suit3;
  }
  
  .heart:after {
    left: 15px;
    top: 0;
  }
  .heart.top {
  position:relative;
  top:-40px;
  }
  .heart.bottom{
    transform:rotate(135deg);
    position: relative;
      top: 5px;
  }
  
  .naipe-top {
  position:relative;
  left:25px;
  // top:-20px;  
  }
  .naipe-bottom {
  position:relative;
  top: 300px;
  left: 227px;
  }
  
  //pikachu
  #big-heart {
  position:relative;
  top:-40px;
  left:-68px;
  place-items: center;
  
  
  div, ul, span {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  }
  .brown { background-color: #452211; }
  .yellow { background-color: #ffd814; }
  .yellow-dark { background-color: #e0a100; }
  
  .wrapper {
  height: 450px;
  width: 300px;
  }
  
  
  .pikachu {
  top: auto; 
  height: 65%;
  width: 140px;
  
  &::before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.15);
    height: 10px;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 95px;
    border-radius: 50%;
  }
  
  .head {
    bottom: auto; 
    height: 120px;
    width: 120px;
    z-index: 3;
  
    .face {
      width: 120px;
      height: 70px;
      top: auto;
      border-radius: 40px 40px 30px 30px; 
      z-index: 2;
  
      .eye {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        bottom: auto;
        top: 28px;
        -webkit-animation: pika-blink 4s infinite;
  
        &.left {
          right: auto;
          left: 32px;
        }
  
        &.right {
          left: auto;
          right: 32px;
        }
      }
  
      .mouth {
        text-align: center;
        height: 10px;
      }
  
      .cachete {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        bottom: auto;
        top: 38px;
        background-color: #e64900;
        z-index: 9;
  
        &.left {
          right: auto;
          left: 10px;
        }
  
        &.right {
          left: auto;
          right: 10px;
        }
      }
    }
  
    .ears {
      width: 20px;
      height: 90px;
      bottom: auto;
      border-radius: 50%;
      overflow: hidden;
      z-index: 1;
  
      &.left {
        right: auto; 
        left: 10px;
      }
  
      &.right {
        left: auto; 
        right: 10px;
      }
  
      .ears-inside {
        top: auto; 
        height: 70px;
        width: 30px;
        border-radius: 50%;
  
        &.right {
          position: absolute; 
          left: -50%;
        }
      }
    }
  }
  
  .body {
    bottom: auto;
    top: 80px;
    height: 105px;
    width: 130px;
    border-radius: 80px 80px 40px 40px;
    overflow: hidden;
    z-index: 2;
  
    .paw {
      bottom: auto; 
      top: 50px; 
      height: 15px; 
      width: 30px; 
      z-index: 9; 
      border-bottom: 1px solid #e0a100; 
      border-top: 1px solid #FFFFFF;
  
      &.left {
        right: auto;
        left: 15px;
        border-radius: 0 50% 50% 0;  
      }
  
      &.right {
        left: auto;
        right: 15px;
        border-radius: 50% 0 0 50%;  
      }
    }
  
    .pika-heart {
      width: 40px;
      height: 40px;
      bottom: auto;
      top: 10px; 
      z-index: 8;
      animation: beat 0.45s infinite;
      -webkit-animation: beat 0.45s infinite;
  
      &::before,
      &::after {
        position: absolute;
        content: "";
        left: 20px;
        top: 30px;
        width: 50%;
        height: 100%;
        background: #e64900;
        -moz-border-radius: 20px 20px 0 0;
        border-radius: 10px 10px 0 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        transform-origin: 0 100%;
      }
  
      &::after {
        left: 0px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 100% 100%;
        -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        -o-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
      }
    }
  }
  
  .leg {
    z-index: 1; 
    bottom: auto;
    top: 172px;
    height: 20px;
    width: 30px;
  
    &.left {
      right: auto; 
      left: 20px;
      border-radius: 80px 10px 80px 10px;
    }
  
    &.right {
      left: auto; 
      right: 20px;
      border-radius: 10px 80px 10px 80px;
    }
  }
  
  .tail {
    z-index: 1;
    height: 40px; 
    width: 50px; 
    left: auto;
    bottom: auto; 
    top: 70px;
    border-radius: 10% 30%;
  }
  }
  }
  
  @keyframes pika-blink {
    0% { height: 14px; top: 28px; }
    5% { height: 2px; top: 34px; }
    10% { height: 14px; top: 28px; }
    40% { height: 14px; top: 28px; }
    50% { height: 2px; top: 34px; }
    55% { height: 14px; top: 28px; }
    100% { height: 14px; top: 28px; }
  }
  @keyframes moveUpCard {
    0% {
      top: 0%
    }
    100% {
      top: 35%
    }
  }
  @keyframes fadeInCard {
    0% {
        opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
}
@keyframes gradientMove {
  0% { background-position: 0% ; }
  25% { background-position: 25% ; }
  50% { background-position: 50% ; }
  75% { background-position: 75% ; }
  100% { background-position: 100% ; }
}

//Word:
// body {
//   background: $bg-color;
// }


  @keyframes moveUpWord {
    0% {
      top: 12%
    }
    100% {
      top: 0%
    }
  }

.word-container {
  width: 100%;
  margin: 100px auto;
  position: fixed;
  top: 12%;
  animation: moveUpWord 1s steps(40, end) forwards;
  animation-delay: 3.2s;

  h1:nth-child(1) {
    color: #355c7d;
    font-family: 'Fira Code', monospace;
    font-weight: 800;
    font-size: 20px;
    margin: 0 auto auto 5%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 1000px;
    animation: type 2s steps(40,end) forwards;
  }

  h1:nth-child(2) {
    opacity: 0;
    font-family: "Work Sans", sans-serif;
    margin: 0 auto auto 5%;
    background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
    font-weight: 800;
    font-size: 100px;  
    width: 100%;
    text-align: left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;  
  }
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 25% 0;
    opacity: 0.5;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 75% 0;
    opacity: 0.75;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 100% 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid orange;
  }
  100%{
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes moveUpWord {
  0% {
    top: 12%
  }
  100% {
    top: 0%
  }
}
